<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@10.176.92.12:1521:student</property>
  <property name="hibernate.connection.username">axk167131</property>
  <property name="hibernate.connection.password">axk167131</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
 <!--  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
  <property name="show_sql">true</property>
  <property name="hibernate.default_schema">axk167131</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.connection.autocommit">false</property> 
  
  <mapping class="org.arrow.micro.model.LoginModel"></mapping>
  <mapping class="org.arrow.micro.model.AddressModel"></mapping>
  <mapping class="org.arrow.micro.model.UserDetailsModel"></mapping>
  
  <mapping class="org.arrow.micro.model.AuctionEventModel"></mapping>

  <mapping class="org.arrow.micro.model.BidModel"></mapping>
  <mapping class="org.arrow.micro.model.PurchasedItemModel"></mapping>
  
  
</session-factory>
</hibernate-configuration>